body {
  font-family: avenir;
  background-color: #fff;
}

.borderBoxRed {
	border: 2px solid red;
	width: 50%;
}

.borderBoxGreen {
	border: 2px solid green;

}

.borderBoxOrange {
	border: 2px solid orange;
}

.borderBoxBlue {
	border: 2px solid blue;
	width: 50%;
}

.imgToRepPlayers {
  max-width:100%;
  /*max-height:100%;*/

}

.heightForPanel {
  height: 220px;


}

#playerOneImg {
  background-image: url("../images/einstein-png-25.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

#wolframAlphaImg {
  background-image: url("../images/wolfram-alpha2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

blockquote {
	float: left;
}

#answersHere a {
  margin: 5px;
  padding: 5px;
  border: 1px solid blue;
}

li {
  list-style-type: none;
}

.positionBtn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  padding: 5px;

}

.styleBtn {
  width: 60%;
  text-align: center;
  white-space: normal;

}

.whoAnsweredAnimation {

}

.wrongAnswer {
  border: 5px solid red;
  animation: blinker 1s linear;

}

@keyframes blinker {  
  50% { opacity: 0; }
}

.rightAnswer {
  border: 5px solid green;
  animation: blinker 1s linear;

}


.answersDiv {
  text-align:center;

}

.alignText {
  text-align: center;
  color: green;
}


.timerStyle {
  border: 2px solid green;
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.countdown-label {
  color: #65584c;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;
  padding: 10px;

}
#countdown{
  box-shadow: 0 1px 2px 0 rgba(1, 1, 1, 0.4);
  width: 240px;
  text-align: center;
  border-radius: 5px;
  margin: auto;

}

#countdown #tiles{
  color: #fff;
  text-shadow: 1px 1px 0px #ccc;
  text-align: center;
  padding: 5px;
  border-radius: 5px 5px 0 0;
  font-size: 48px;
  font-weight: thin;
  display: block;
    
}

.colorFull {
  background: #53bb74;
}
.colorHalf {
  background: #ebc85d;
}
.colorEmpty {
  background: #e5554e;
}



























/* THIS BELOW IS ALL CODE FOR CHAT BUBBLE RESPONSES FROM CLEVER BOT*/

.from-me {
  position: relative;
  padding: 10px 20px;
  color: white;
  background: #0B93F6;
  border-radius: 25px;
  float: right;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -2px;
    right: -7px;
    height: 20px;
    border-right: 20px solid #0B93F6;
    border-bottom-left-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
  }
  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -2px;
    right: -56px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
  }
}

.from-them {
  position: relative;
  padding: 10px 20px;
  background: #E5E5EA;
  border-radius: 25px;
  color: black;
  float: left;
  &:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: -7px;
    height: 20px;
    border-left: 20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
  }
  &:after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
  }
}

@keyframes loud {
  20% {
    transform: rotate3d(0, 0, 1, 5deg) scale3d(1.5, 1.5, 1.5);
  }
  25% {
    transform: rotate3d(0, 0, 1, -5deg) scale3d(1.5, 1.5, 1.5);
  }
  30% {
    transform: rotate3d(0, 0, 1, 5deg) scale3d(1.5, 1.5, 1.5);
  }
  35% {
    transform: rotate3d(0, 0, 1, -5deg) scale3d(1.5, 1.5, 1.5);
  }
  40% {
    transform: rotate3d(0, 0, 1, 5deg) scale3d(1.5, 1.5, 1.5);
  }
  45% {
    transform: rotate3d(0, 0, 1, -5deg) scale3d(1.5, 1.5, 1.5);
  }
  50% {
    transform: rotate3d(0, 0, 1, 5deg) scale3d(1.5, 1.5, 1.5);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg) scale3d(1.5, 1.5, 1.5);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.loud {
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  transform-origin: center center;
  animation-name: loud;
}

@keyframes slam {
  0% {
    transform: rotate3d(0, 0, 1, 5deg) scale3d(3, 3, 3) translate3d(-50px, -10px, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
  18% {
    transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1) translate3d(0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.45);
  }
  40% {
    transform: rotate3d(0, 0, 1, 1deg) scale3d(1.1, 1.1, 1.1) translate3d(-1px, -1px, 0);
    box-shadow: 0px 0px 100px 2px rgba(0, 0, 0, 0.25);
  }
  55% {
    transform: rotate3d(0, 0, 1, 0deg) scale3d(1.0, 1.0, 1.0) translate3d(0px, 0px, 0);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
    box-shadow: 0px 0px 125px 5px rgba(0, 0, 0, 0);
  }
}

.slam {
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(.87, .58, .25, 1.29);
  transform-origin: center center;
  animation-name: slam;
}

@keyframes gentle {
  0%,
  50% {
    transform: scale3d(1.5, 1.5, 1.5);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes gentle-text {
  0%,
  50% {
    transform: scale3d(0.5, 0.5, 0.5);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.gentle {
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  transform-origin: bottom right;
  animation-name: gentle;
  p {
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    transform-origin: center center;
    animation-name: gentle-text;
  }
}

/* THIS BELOW IS TO MAKE THE CHAT BUBBLE*/
.oval-thought {
	position: relative;
	width: 270px;
	padding: 50px 40px;
	margin: 1em auto 80px;
	text-align: center;
	color: #fff;
	background: #075698;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
	background: -moz-linear-gradient(#2e88c4, #075698);
	background: -o-linear-gradient(#2e88c4, #075698);
	background: linear-gradient(#2e88c4, #075698);
	-webkit-border-top-left-radius: 220px 120px;
	-webkit-border-top-right-radius: 220px 120px;
	-webkit-border-bottom-right-radius: 220px 120px;
	-webkit-border-bottom-left-radius: 220px 120px;
	-moz-border-radius: 220px / 120px;
	border-radius: 220px / 120px;
}

.oval-thought p {font-size:1.25em;}

/* creates the larger circle */
.oval-thought:before {
  content:"";
  position:absolute;
  bottom:-20px;
  left:50px;
  width:30px;
  height:30px;
  background:#075698;
  /* css3 */
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px;
}

/* creates the smaller circle */
.oval-thought:after {
  content:"";
  position:absolute;
  bottom:-30px;
  left:30px;
  width:15px;
  height:15px;
  background:#075698;
  /* css3 */
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
}
